<h1>Listing presentations</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Presentation</th>
    <th>Creator</th>
    <th>Course</th>
    <th>Presenter</th>
  </tr>

<% @presentations.each do |presentation| %>
  <tr>
      <td><%= presentation.updated_at.strftime("%d/%m/%Y") %></td>
    <% if (presentation.title.nil?) %>
      <td><%= link_to 'Title', presentation %></td>
    <% else %>
      <td><%= link_to truncate(presentation.title, :length => 30), presentation %></td>
    <% end %>
      <td><%=h presentation.creator.human_name %></td>
    <% if (presentation.course.nil?) %>
      <td> None </td>
    <% else %>
      <td><%=h presentation.course.display_name %></td>
    <% end %>
    <% if (presentation.individual.nil?) %>
      <td><%=h presentation.team.name %></td>
    <% else %>
      <td><%=h presentation.individual.human_name %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Presentation', new_presentation_path %>
